@mixin extend($res, $extend-type: "") {

    @if(type-of($res)=="string") {

        $placeholders: s.str-split($res, " ");
        $extends: "";
        $i: 0;
        $prefix: if($extend-type =="class" or $extend-type ==".", ".", "%");

        @each $placeholder in $placeholders {
            $i: $i +1;
            $extends: $extends +#{$prefix + $placeholder + if(list.length($placeholders) == $i, "", ",") };
        }

        @extend #{$extends} !optional;
    }

}

@mixin apply($res, $extend-type: "") {
    @include extend($res, $extend-type);
}

@mixin class($res, $extend-type: "") {
    @include extend($res, $extend-type);
}